*,
*::before,
*::after{
    box-sizing: border-box;
}
html,
body,
.dark{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    
}
.dark{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #082d51;
    color: #b8b7c0;
    
}
header{
    height: 40px;
   

}
.icon-head{
   
    float: right;
}
.blog-head{
    float:left;
}
.icon-head:hover{
    cursor: pointer;
}
img{
    float: right;
    width: 30px;
    height: 30px;
}
main{
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px;
    border-top: 10px double black;
    
    width: 100%;
    height: 100%;
  
}

.float-left{
    float: left;
    width: 40%;
    height: 63vh;
   
}


.float-right{
    margin-top: 0;
    width: 60%;
    border-left: 5px double black;
    float: right;
    height: 63vh;
    
    
}


.blog1{
    align-content: center;
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;
    width: 60%;
    height: 70%;
    border-radius: 1000px;
    
   
}

.light{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f9fbfd;
    color: #053462;

}
.light main .float-left .blog1{
    background-color: rgb(236, 198, 9);
   
    color: #053462;
}


